footer{
  background-color: var(--color-primary);
  color: var(--color-light);
  /* height: 160px; */
  width: 100%;
  margin-top: auto 5px;
  justify-content: space-around;
  padding: 15px 0 20px;
}

.footer-container{
  width: 85%;
  display: flex;
  margin: auto;
  gap: clamp(40px, 5vw, 150px);
}

footer .logo{
  margin-top: auto;
}

.footer-additional{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
  gap: 13px
}

.nav-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (max-width:1000px) {
  .search-container{
    display: none;
  }
}

nav {
  width: 50%;
  margin: 0;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

@media (max-width: 1025px) {
  
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

li {
  color: var(--color-light);
  font-size: 16px;
}

.copyright{
  font-size: 16px;
  color: var(--color-light);
}

/* @media only screen and (max-width: 600px) {
  #nav{
      background-color: red;
  }
} */