:root {
  --color-primary: #3a0ca3;
  --color-secondary: #f72585;
  --color-light: #f5f5f5;
  --color-dark: #323232;
  --text-bold: 700;
  --text-semibold: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

ul {
  padding-inline-start: 0;
}

.hidden-on-mobile {
  display: none;
}

.hidden-on-desktop {
  display: block;
}

@media (min-width: 1025px) {
  .hidden-on-mobile {
    width: 600px;
    justify-content: flex-end;
  }

  .hidden-on-desktop {
    display: none !important;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--color-light);
}

a {
  text-decoration: none;
}
